
.rectangle_2978ba{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 35rpx;
    padding-bottom: 22rpx;
    width: 750rpx;
}
.pgwhf{
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.add_address{
    font-size: 36rpx;
    color: rgb(34, 34, 34);
    margin-left: 14rpx;
    width: 564rpx;
    text-align: center;
}
.rectangle_2962yd{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.mxrnq{
    margin-top: 32rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
}
.receiver{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
}
.name{
    font-size: 28rpx;
    color: rgb(102, 102, 102);
    margin-left: 70rpx;
}
.rectangle_2952ieg{
    background-color: rgb(245, 245, 245);
    margin-top: 20rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
    height: 2rpx;
}
.csymv{
    margin-top: 28rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
}
.cellphone_numbe{
    font-size: 28rpx;
    color: rgb(102, 102, 102);
    margin-left: 40rpx;
}
.xtvnbe{
    margin-top: 28rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 638rpx;
    justify-content: space-between;
}
.kuxrws{
    width: fit-content;
    display: flex;
}
.hjpwso{
    width: 40rpx;
    height: 40rpx;
}
.rectangle_2949xew{
    background-color: rgb(245, 245, 245);
    margin-top: 80rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
    height: 2rpx;
}
.rectangle{
    border-radius: 23rpx;
    background: linear-gradient(90deg, rgb(251, 81, 82), rgb(251, 27, 28));
    margin-top: 80rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
}
.add_to{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 26rpx;
    padding-bottom: 24rpx;
    text-align: center;
}
.uqdxnv{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}