
.rectangle_109my{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 24rpx;
    padding-bottom: 18rpx;
    align-items: center;
}
.group_107klp{
    width: 48rpx;
    margin-left: 32rpx;
}
.forgot_password{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    width: 484rpx;
    text-align: center;
    margin-left: 54rpx;
}
.gmuel{
    margin-top: 80rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.group_81pd{
    width: 48rpx;
    height: 48rpx;
}
.please_enter_the{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
    margin-left: 24rpx;
}
.rectangle_91sj{
    background-color: rgb(239, 239, 239);
    margin-top: 18rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
    width: 598rpx;
}
.ynsgxt{
    margin-top: 64rpx;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 80rpx;
}
.group{
    height: 48rpx;
    width: 48rpx;
}
.please_enter_verification{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
    width: 319rpx;
    margin-left: 24rpx;
}
.send_the_verification{
    font-size: 32rpx;
    color: rgb(29, 200, 177);
    width: 194rpx;
    margin-left: 13rpx;
    text-align: right;
}
.rectangle_90su{
    background-color: rgb(239, 239, 239);
    margin-top: 18rpx;
    margin-left: auto;
    margin-right: auto;
    width: 598rpx;
    height: 2rpx;
}
.crisp{
    margin-top: 64rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.rectangle{
    border-radius: 6rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-top: 100rpx;
    margin-left: auto;
    margin-right: auto;
    width: 598rpx;
}
.confirm{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 26rpx;
    padding-bottom: 24rpx;
    text-align: center;
}