
.rectangle_1018qpe{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 25rpx;
    padding-bottom: 18rpx;
    align-items: center;
}
.group_1016ebu{
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.level_introductio_1015uz{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    margin-left: 54rpx;
    width: 484rpx;
    text-align: center;
}
.rectangle_1000vop{
    border-radius: 8rpx 8rpx 0rpx 0rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.ycmlsj{
    margin-top: 56rpx;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 108rpx;
    height: 108rpx;
}
.my_total_activit{
    font-size: 28rpx;
    color: rgb(128, 128, 128);
    margin-top: 16rpx;
    text-align: center;
}
.xytqz{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    margin-top: 48rpx;
}
.ubzyr{
    padding-top: 1rpx;
    position: relative;
    margin-right: 96rpx;
}
.ryiqko{
    margin-left: 3rpx;
    padding-top: 1rpx;
}
.oval_990vfl{
    border-radius: 50%;
    background-color: rgb(255, 173, 42);
    margin-left: auto;
    margin-right: auto;
    width: 18rpx;
    height: 18rpx;
}
.lv_997dm{
    font-size: 26rpx;
    color: rgb(255, 173, 42);
    margin-top: 8rpx;
    text-align: center;
}
.oyexmn{
    position: absolute;
    width: 130rpx;
    height: 2rpx;
    background: rgb(255, 173, 42);
    top: 10rpx;
    left: 34rpx;
}
.likwdf{
    margin-left: 2rpx;
    padding-top: 1rpx;
}
.cmwat{
    margin-left: 1rpx;
    padding-top: 1rpx;
}
.oval_988bx{
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
    width: 18rpx;
    height: 18rpx;
}
.lv_995lr{
    font-size: 26rpx;
    color: rgb(204, 204, 204);
    margin-top: 8rpx;
    text-align: center;
}
.scvktf{
    position: absolute;
    width: 130rpx;
    height: 2rpx;
    background: rgb(204, 204, 204);
    top: 10rpx;
    left: 34rpx;
}
.nqkzy{
    padding-top: 1rpx;
}
.level_introductio{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    margin-top: 55rpx;
    text-align: center;
}
.rectangle_985wj{
    border-radius: 8rpx;
    background-color: rgb(252, 239, 219);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rpx;
    width: 638rpx;
}
.rectangle_984yx{
    border-radius: 8rpx 8rpx 0rpx 0rpx;
    background-color: rgb(255, 173, 42);
    display: flex;
    padding-top: 24rpx;
    padding-bottom: 24rpx;
    align-items: center;
    justify-content: space-between;
}
.bno975kzy{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    margin-left: 20rpx;
}
.direct_number_of{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
}
.red_bean_reward{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    margin-right: 16rpx;
}
.pomgah{
    margin-top: 29rpx;
    width: 100%;
}