
.xdilmf{
    margin-left: auto;
    margin-right: auto;
    width: 750rpx;
    padding-bottom: 60rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
}
.hi_welcomes_the{
    font-size: 52rpx;
    color: rgb(255, 255, 255);
    margin-top: 108rpx;
    margin-left: 48rpx;
}
.gjzka{
    margin-top: 56rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 398rpx;
    justify-content: space-between;
}
.log_in_16ep{
    font-size: 32rpx;
    color: rgb(255, 255, 255);
}
.registered{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
.dvgaq{
    margin-top: -44rpx;
    margin-left: auto;
    margin-right: auto;
    width: 750rpx;
    padding-bottom: 337rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
}
.cbixj{
    margin-top: 116rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.liaydt{
    width: 48rpx;
    height: 48rpx;
}
.please_enter_the{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
    margin-left: 24rpx;
}
.rectangle_14dp{
    background-color: rgb(239, 239, 239);
    margin-top: 18rpx;
    margin-left: auto;
    margin-right: auto;
    width: 598rpx;
    height: 2rpx;
}
.gbsljr{
    margin-top: 64rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.lyznp{
    margin-top: 24rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.fcmvd{
    width: 40rpx;
    height: 40rpx;
}
.remember_passwor{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
    margin-left: 8rpx;
}
.rectangle{
    border-radius: 6rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-top: 49rpx;
    margin-left: auto;
    margin-right: auto;
    width: 598rpx;
}
.log_in{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 26rpx;
    padding-bottom: 24rpx;
    text-align: center;
}
.forgot_password{
    font-size: 26rpx;
    color: rgb(29, 200, 177);
    margin-top: 24rpx;
    text-align: center;
}
.vxlkp{
    margin-left: auto;
    margin-right: auto;
    width: 750rpx;
    padding-bottom: 63rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
    margin-top: -44rpx;
}
.jvghxl{
    margin-top: 129rpx;
    margin-left: 80rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.dhobxt{
    margin-top: 32rpx;
    margin-left: 443rpx;
}
.pyrvf{
    margin-top: 64rpx;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 80rpx;
}
.mhlsxj{
    height: 48rpx;
    width: 48rpx;
}
.please_enter_verification{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
    width: 332rpx;
    margin-left: 24rpx;
}
.send_the_verification{
    font-size: 32rpx;
    color: rgb(29, 200, 177);
    width: 191rpx;
    margin-left: 3rpx;
    text-align: right;
}
.rectangle{
    border-radius: 6rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-top: 100rpx;
    margin-left: auto;
    margin-right: auto;
    width: 598rpx;
}