
.rectangle_1528xme{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rpx;
    padding-top: 1rpx;
}
.sbrdva{
    margin-top: 29rpx;
    margin-left: 32rpx;
    width: fit-content;
    display: flex;
}
.cqejml{
    width: 48rpx;
    height: 48rpx;
}
.mall_order{
    font-size: 36rpx;
    color: rgb(34, 34, 34);
    margin-left: 24rpx;
    width: 544rpx;
    text-align: center;
}
.xiqsz{
    margin-top: 40rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 654rpx;
    justify-content: space-between;
}
.jhwdl{
    padding-top: 1rpx;
}
.all{
    font-size: 32rpx;
    color: rgb(252, 37, 38);
    text-align: center;
}
.rectangle_1507npe{
    background-color: rgb(252, 37, 38);
    margin-top: 6rpx;
    margin-left: auto;
    margin-right: auto;
    height: 6rpx;
    width: 80%;

}
.active{
	color: red!important;
	border-bottom: 2rpx solid rgb(252, 37, 38);
}
.active:after{
 // width: 5%;
 // transform:translateX(-100px) translateY(22px);
 // height: .25rem;
 // content: "";
 // background: rgb(252, 37, 38);
 // position: absolute;
 
}
.pending_payment_1511yp{
    text-align: center;
    font-size: 28rpx;
    color: rgb(34, 34, 34);
}
.rectangle_1507npe{
    margin-top: 6rpx;
    margin-left: auto;
    margin-right: auto;
    height: 6rpx;
    width: 80%;
}
.rectangle_1506lkw{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.bgpdo{
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 638rpx;
    justify-content: space-between;
}
.order_number_1503sd{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
}
.pending_payment{
    font-size: 26rpx;
    color: rgb(252, 37, 38);
}
.uxhawj{
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 638rpx;
}
.qdhnr{
    width: 160rpx;
    height: 160rpx;
}
.lwnpit{
    padding-top: 1rpx;
    margin-left: 24rpx;
    width: 454rpx;
}
.face_cream_ml_1480exd{
    font-size: 24rpx;
    color: rgb(165, 165, 165);
    margin-top: 2rpx;
}
.fdwar{
    margin-top: 14rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.imj1476ei{
    font-size: 28rpx;
    color: rgb(252, 37, 38);
}
.uov1472xd{
    font-size: 28rpx;
    color: rgb(102, 102, 102);
}
.rectangle_1468epi{
    background-color: rgb(245, 245, 245);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
}
.rectangle_1489woj{
    border-radius: 8rpx;
    background-color: rgb(239, 239, 239);
    width: 160rpx;
    height: 160rpx;
}
.xcgur{
    margin-top: 50rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.rectangle_1467jd{
    background-color: rgb(245, 245, 245);
    margin-top: 40rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
    width: 638rpx;
}
.rgfiyc{
    margin-top: 30rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.total_1497wc{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-left: 32rpx;
}
.lxdaro{
    margin-top: 32rpx;
    display: flex;
    justify-content: flex-end;
    margin-right: 24rpx;
}
.rectangle_1461xoy{
    border: 1rpx solid rgb(128, 128, 128);
    border-radius: 13.5rpx;
    padding: 0rpx 38rpx;
}
.cancel_order_1457kh{
    font-size: 24rpx;
    color: rgb(128, 128, 128);
    padding-top: 10rpx;
    padding-bottom: 10rpx;
    text-align: center;
}
.rectangle_1463ef{
    border: 1rpx solid rgb(252, 37, 38);
    border-radius: 13.5rpx;
    margin-left: 20rpx;
    padding: 0rpx 38rpx;
}
.go_to_pay{
    font-size: 24rpx;
    color: rgb(252, 37, 38);
    padding-top: 10rpx;
    padding-bottom: 10rpx;
    text-align: center;
}
.rectangle_1460wv{
    border: 1rpx solid rgb(128, 128, 128);
    border-radius: 13.5rpx;
    margin-top: 32rpx;
    margin-left: auto;
    width: fit-content;
    padding: 0rpx 38rpx;
    margin-right: 24rpx;
}
.rectangle_1462reu{
    border: 1rpx solid rgb(252, 37, 38);
    border-radius: 13.5rpx;
    margin-top: 32rpx;
    margin-left: auto;
    width: fit-content;
    padding: 0rpx 38rpx;
    margin-right: 24rpx;
}
.ywasrn{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}
.rectangle_2858rwf{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.wuhil{
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 638rpx;
    justify-content: space-between;
}
.add_address{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
}
.online_payment{
    font-size: 24rpx;
    color: rgb(34, 34, 34);
}
.rectangle_2823tv{
    background-color: rgb(245, 245, 245);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
    height: 2rpx;
}
.mwlok{
    margin-top: 32rpx;
    margin-left: 24rpx;
    display: flex;
    align-items: center;
    width: 620rpx;
    justify-content: space-between;
}
.rdezn{
    width: fit-content;
    display: flex;
    align-items: center;
}
.uzqoln{
    width: 32rpx;
    height: 32rpx;
}
.alipay{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-left: 8rpx;
}
.moeqjh{
    width: 40rpx;
    height: 40rpx;
}
.sydiu{
    margin-top: 26rpx;
    margin-left: 24rpx;
    display: flex;
    width: 620rpx;
    justify-content: space-between;
}
.nofspw{
    margin-top: 28rpx;
    margin-left: 24rpx;
    display: flex;
    width: 620rpx;
    justify-content: space-between;
}
.btn{
	width: 80%;
	margin: 120rpx auto 0rpx;
	text-align: center;
	background-color: #FC2526;
	color: #FFFFFF;
	padding: 20rpx 0rpx;
	border-radius: 14rpx;
}