
.rectangle_943tje{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 40rpx;
    align-items: center;
}
.group_941fse{
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.message_center{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    margin-left: 64rpx;
    width: 464rpx;
    text-align: center;
}
.rectangle{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 26rpx;
    padding-bottom: 26rpx;
    align-items: center;
    width: 686rpx;
    justify-content: space-between;
}
.oyjgl{
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.nwexiv{
    width: 72rpx;
    height: 72rpx;
}
.xdbhpj{
    margin-left: 16rpx;
    padding-top: 1rpx;
}
.announcement{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
}
.first_time_reception{
    font-size: 26rpx;
    color: rgb(165, 165, 165);
    margin-top: 4rpx;
    text-align: center;
}
.yrtuxi{
    margin-right: 24rpx;
    width: 40rpx;
    height: 40rpx;
}
.rectangle_925fe{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 26rpx;
    padding-bottom: 26rpx;
    align-items: center;
    width: 686rpx;
    justify-content: space-between;
}
.oridew{
    margin-right: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.rfd916xa{
    font-size: 26rpx;
    color: rgb(252, 37, 38);
}
.group_913nm{
    margin-left: 6rpx;
    width: 40rpx;
    height: 40rpx;
}
.group_911qd{
    margin-left: 8rpx;
    width: 40rpx;
    height: 40rpx;
}
.eyqar{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}