
.mission_hall_content{
	background-color: #F5F5F5;
	min-height: 100vh;
	.rectangle_657re{
	    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
	    margin-left: auto;
	    margin-right: auto;
	    // display: flex;
	    padding-top: 29rpx;
	    padding-bottom: 16rpx;
		// align-items: center;
	    // justify-content: space-between;
	}
	.tab{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 32rpx 32rpx 0rpx 32rpx;
		box-sizing: border-box;
		font-weight: bold;
		color: #222222;
	}
	.bkqgj{
		width: 100%;
	    padding: 0rpx 32rpx;
	    // width: fit-content;    
		align-items: center;
	    display: flex;
	}
	.mission_hall{
	    font-size: 36rpx!important;
	    opacity:1!important;
	}
	.my_task{
		width: 25%;
	    font-size: 30rpx;
	    color: rgb(255, 255, 255);
	    opacity: 0.7;
	    // margin-left: 40rpx;
	    margin-top: 24rpx;
		text-align: center;
	}
	.rule_instruction{
		width: 100%;
	    font-size: 28rpx;
	    color: rgb(255, 255, 255);
	    padding-right: 32rpx;
		text-align: right;
	}
	.rectangle_639ya{
	    border-radius: 8rpx;
	    background-color: rgb(255, 255, 255);
	    margin-top: 32rpx;
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 32rpx;
	    padding-top: 1rpx;
	    width: 686rpx;
	}
	.cpabnr{
	    margin-left: auto;
	    margin-right: auto;
	    width: 686rpx;
		background-image: url('../static/rectangle_636sjw_knzam1627003471691.png');
		background-size: 100% 100%;
	    // position: relative;
	    // z-index: 1;
	}
	.watch_video_minutes_631wzm{
	    font-size: 30rpx;
	    color: rgb(34, 34, 34);
	    padding-top: 16rpx;
	    padding-bottom: 16rpx;
	    margin-left: 24rpx;
	}
	.zitgq{
	    margin-top: 22rpx;
	    margin-left: 24rpx;
	    width: fit-content;
	    display: flex;
	}
	.xkzglf{
	    padding-top: 1rpx;
	    width: 494rpx;
	}
	.thbvas{
	    width: fit-content;
	    display: flex;
	}
	.task_award_628wzy{
	    font-size: 28rpx;
	    color: rgb(128, 128, 128);
	}
	.red_beans_616ni{
	    font-size: 28rpx;
	    color: rgb(34, 34, 34);
	    margin-left: 8rpx;
	}
	.wbzkui{
	    margin-top: 12rpx;
	    width: fit-content;
	    display: flex;
	}
	.nulvyb{
	    margin-top: 32rpx;
	    width: fit-content;
	    display: flex;
	}
	.receive_the_require_633dv{
	    font-size: 30rpx;
	    color: rgb(34, 34, 34);
	}
	.sz604dm{
	    font-size: 30rpx;
	    color: rgb(252, 37, 38);
	    margin-left: 14rpx;
	}
	.rmvdhb{
	    margin-left: 4rpx;
	    width: 40rpx;
	    height: 40rpx;
	}
	.oskvnr{
	    margin-left: 8rpx;
	    width: 120rpx;
	    // position: relative;
	    z-index: 1;
	    height: 120rpx;
	    margin-top: 202rpx;
		background-image: url('../static/group_596qp_keusq1627003452960.png');
		background-size: 100% 100%;
	}
	.oskvnr2{
	    margin-left: 8rpx;
	    width: 120rpx;
	    // position: relative;
	    z-index: 1;
	    height: 120rpx;
	    margin-top: 202rpx;
		background-image: url('../static/group_677ok_unxqs1627003477395.png');
		background-size: 100% 100%;
	}
	.receive_597bcn{
	    font-size: 28rpx;
	    color: rgb(255, 255, 255);
	    padding-top: 40rpx;
	    padding-bottom: 40rpx;
	    text-align: center;
	}
	// .group{
	//     display: flex;
	//     padding-top: 7rpx;
	//     align-items: center;
	//     position: fixed;
	//     z-index: 1;
	//     bottom: 0rpx;
	//     left: 0rpx;
	//     width: 100%;
	//     justify-content: space-around;
	//     text-align: center;
	// }
	.nhxrac{
	    padding-top: 1rpx;
	}
	.bujwih{
	    width: 48rpx;
	    height: 48rpx;
	}
	.homepage{
	    font-size: 24rpx;
	    color: rgb(165, 165, 165);
	    margin-top: 2rpx;
	}
	.wxriaz{
	    text-align: right;
	    padding-top: 1rpx;
	}
	.gvcqt{
	    width: 48rpx;
	    height: 48rpx;
	    margin: auto;
	    display: block;
	}
	.task{
	    font-size: 24rpx;
	    color: rgb(29, 200, 177);
	    margin-top: 2rpx;
	}
	.dqznpk{
	    height: 96rpx;
	}
	.today{
		padding: 32rpx;
		.schedule{
			padding: 48rpx 0rpx;
			display: flex;
			justify-content: center;
			border-radius: 16rpx;
			background-color: #FFFFFF;
			.center{
				width: 240rpx;
				height: 240rpx;
				background-image: url('../static/scheduleBg.png');
				background-size: 100% 100%;
				text-align: center;
				color: #FFFFFF;
				padding-top: 62rpx;
				box-sizing: border-box;
			}
		}
		.scheduleList{
			padding: 32rpx 24rpx;
			box-sizing: border-box;
			border-radius: 16rpx;
			background-color: #FFFFFF;
			&Top,
			&Center{
				>view{
					width: 33.33%;
					text-align: center;
				}
			}
		}
	}
	.progress{
		&List{
			padding: 28rpx 24rpx;
			border-radius: 16rpx;
			background-color: #FFFFFF;
			.line{
				width: 70%;
			}
			.number{
				font-size: 26rpx;
				color: #1DC8B1;
			}
		}
	}
}
