
.ktwde{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 25rpx;
    padding-bottom: 326rpx;
    width: 750rpx;
    position: relative;
    z-index: 1;
}
.group_2388cqu{
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.my_team{
    font-size: 36rpx;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-left: 90rpx;
    width: 412rpx;
}
.team_rule{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    text-align: right;
    width: 136rpx;
}
.rectangle_2385qzc{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: -90rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    position: relative;
    z-index: 1;
    width: 686rpx;
}
.wbmkd{
    margin-top: -60rpx;
    margin-left: 48rpx;
    width: fit-content;
    display: flex;
}
.gbnsim{
    border-radius: 50%;
    width: 128rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
}
.kaoiw{
    margin-top: 80rpx;
    margin-left: 80rpx;
    width: 48rpx;
    height: 48rpx;
}
.aqlzu{
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 86rpx;
}
.i_am_sleeping{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
    width: 219rpx;
}
.transaction_fee{
    font-size: 26rpx;
    color: rgb(255, 173, 42);
    width: 242rpx;
    margin-left: 3rpx;
    text-align: right;
}
.rezcb{
    margin-top: 40rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 542rpx;
    justify-content: space-between;
}
.xvedzn{
    padding-top: 1rpx;
}
.hsu2378oka{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    text-align: center;
}
.total_people{
    font-size: 26rpx;
    color: rgb(102, 102, 102);
    margin-top: 12rpx;
    text-align: center;
}
.rectangle_2360ugj{
    background-color: rgb(255, 255, 255);
    margin-top: 40rpx;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rpx;
}
.iavqhl{
    margin-top: 26rpx;
    display: flex;
    width: 670rpx;
    margin-left: 40rpx;
    text-align: center;
}
.nickname{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    width: 132rpx;
}
.id{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    width: 106rpx;
    margin-left: 56rpx;
}
.types_of{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    width: 132rpx;
    margin-left: 56rpx;
}
.caqurf{
    margin-top: 26rpx;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rpx;
}
.rectangle_2359lp{
    background-color: rgb(238, 251, 249);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 24rpx;
    padding-bottom: 24rpx;
    align-items: center;
    width: 750rpx;
    text-align: center;
}
.reverse{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    width: 166rpx;
    margin-left: 20rpx;
}
.bly2343jc{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    width: 182rpx;
    margin-left: 10rpx;
}
.direct_push_2335anu{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    width: 136rpx;
    margin-left: 10rpx;
}
.really_name_2327hs{
    font-size: 28rpx;
    color: rgb(29, 200, 177);
    width: 164rpx;
    margin-left: 38rpx;
}
.rectangle_2359lp{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 24rpx;
    padding-bottom: 24rpx;
    align-items: center;
    width: 750rpx;
    text-align: center;
}
.really_name_2327hs{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    width: 164rpx;
    margin-left: 38rpx;
}
.xucjni{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}