
.mihtn{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}
.rectangle_1586bid{
    background: linear-gradient(90deg, rgb(255, 71, 77), rgb(254, 136, 58));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 27rpx;
    padding-bottom: 120rpx;
}
.bipywc{
    margin-left: 32rpx;
    width: 56rpx;
    height: 56rpx;
}
.order_details{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    margin-left: 16rpx;
    width: 544rpx;
    text-align: center;
}
.rectangle_1570sq{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: -60rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.to_be_delivered{
    font-size: 44rpx;
    color: rgb(34, 34, 34);
    margin-top: 32rpx;
    margin-left: 24rpx;
}
.rectangle_1565yk{
    background-color: rgb(245, 245, 245);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
    width: 638rpx;
}
.oyamf{
    margin-top: 24rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.awrghi{
    width: 56rpx;
    height: 56rpx;
}
.bytdp{
    margin-left: 16rpx;
    padding-top: 1rpx;
}
.wooden_wood{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
}
.block_a_guangfa{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
    margin-top: 6rpx;
    text-align: center;
}
.rectangle_1564ejh{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.ejwbgu{
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 638rpx;
}
.xobruk{
    width: 160rpx;
    height: 160rpx;
}
.enwcyq{
    padding-top: 1rpx;
    margin-left: 24rpx;
    width: 454rpx;
}
.estee_lan_division{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
    width: 442rpx;
}
.face_cream_ml_1541qo{
    font-size: 24rpx;
    color: rgb(165, 165, 165);
    margin-top: 2rpx;
}
.jislza{
    margin-top: 14rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.ob1539zh{
    font-size: 28rpx;
    color: rgb(252, 37, 38);
}
.tx1537xp{
    font-size: 28rpx;
    color: rgb(102, 102, 102);
}
.rectangle_1535ha{
    background-color: rgb(245, 245, 245);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
}
.rectangle_1562fd{
    border-radius: 8rpx;
    background-color: rgb(239, 239, 239);
    width: 160rpx;
    height: 160rpx;
}
.new_beauty_smart{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
}
.qxawzs{
    margin-top: 50rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.wmjpbz{
    margin-top: 56rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 638rpx;
    justify-content: space-between;
}
.etu1542yv{
    font-size: 26rpx;
    color: rgb(252, 37, 38);
}
.order_informatio{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    margin-top: 32rpx;
    margin-left: 24rpx;
}
.swtqz{
    margin-top: 24rpx;
    width: fit-content;
    display: flex;
    margin-left: 24rpx;
}
.order_number{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
    width: 104rpx;
}
.kwq1550cly{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    width: 425rpx;
    margin-left: 24rpx;
}
.copy_1556de{
    font-size: 26rpx;
    color: rgb(252, 37, 38);
    width: 81rpx;
    margin-left: 4rpx;
    text-align: right;
}
.tfunby{
    margin-top: 24rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
}
.alipay{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    margin-left: 24rpx;
}
.nzvpw{
    margin-top: 20rpx;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}
.owgpz{
    margin-top: 20rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
}
.rectangle_1532cfl{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(223, 223, 223) 1rpx 0rpx 6rpx 0rpx;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0rpx;
    width: 100%;
    left: 0rpx;
    padding: 24rpx 0rpx;
}
.rectangle{
    border: 1rpx solid rgb(128, 128, 128);
    border-radius: 18rpx;
    margin-left: auto;
    width: fit-content;
    padding: 0rpx 50rpx;
    margin-right: 32rpx;
}
.cancel_order{
    font-size: 28rpx;
    color: rgb(128, 128, 128);
    padding-top: 16rpx;
    padding-bottom: 16rpx;
    text-align: center;
}