
.rectangle_844im{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 25rpx;
    padding-bottom: 18rpx;
    align-items: center;
}
.group_842mv{
    height: 48rpx;
    width: 48rpx;
    margin-left: 32rpx;
}
.pay_841gz{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    width: 472rpx;
    margin-left: 60rpx;
    text-align: center;
}
.rectangle_826yr{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.need_to_pay{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    margin-top: 48rpx;
    text-align: center;
}
.ysntcx{
    margin-top: 16rpx;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    align-items: center;
}
.tzx818mk{
    font-size: 80rpx;
    color: rgb(29, 200, 177);
}
.red_beans{
    font-size: 28rpx;
    color: rgb(29, 200, 177);
    margin-left: 16rpx;
}
.transaction_passwor{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-top: 80rpx;
    margin-left: 24rpx;
}
.enter_transaction{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
    margin-top: 24rpx;
    margin-left: 24rpx;
    width: 80%;
}
.rectangle_819it{
    background-color: rgb(239, 239, 239);
    margin-top: 12rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
    height: 2rpx;
}
.verification_cod{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-top: 48rpx;
    margin-left: 24rpx;
}
.ywkfq{
    margin-top: 24rpx;
    display: flex;
    width: 638rpx;
    justify-content: space-between;
    margin-left: 24rpx;
	position: relative;
}
.enter_confirmation{
    font-size: 32rpx;
    color: rgb(165, 165, 165);
}
.send_the_verification{
	position: absolute;
	top: 0px;
	right: 24rpx;
    font-size: 32rpx;
    color: rgb(29, 200, 177);
}
.rectangle{
    border-radius: 6rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-top: 320rpx;
    margin-left: auto;
    margin-right: auto;
    width: 638rpx;
}
.pay{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 22rpx;
    padding-bottom: 24rpx;
    text-align: center;
}
.lxgtq{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}