
.fqbjs{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
}
.group_488lo{
    margin-top: 40rpx;
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.agehi{
    margin-top: 38rpx;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}
.bovha{
    border-radius: 50%;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
    width: 132rpx;
}
.savidz{
    border-radius: 50%;
    margin-top: 8rpx;
    margin-left: auto;
    margin-right: auto;
    width: 116rpx;
    height: 116rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
}
.xcalj{
    margin-top: 76rpx;
    margin-left: 76rpx;
    width: 48rpx;
    height: 48rpx;
}
.uhson{
    padding-top: 1rpx;
    width: 388rpx;
    margin-left: 24rpx;
    margin-top: 20rpx;
}
.big_search{
    font-size: 36rpx;
    color: rgb(34, 34, 34);
}
.id{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    margin-top: 8rpx;
}
.rectangle_469lru{
    border-radius: 4rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    width: 136rpx;
    margin-left: 6rpx;
    height: 48rpx;
    margin-top: 26rpx;
}
.attention_468rin{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.rectangle{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 36rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 40rpx;
    padding-bottom: 40rpx;
    align-items: center;
    width: 686rpx;
    justify-content: space-between;
}
.zexspq{
    margin-left: 86rpx;
    padding-top: 1rpx;
}
.su455yju{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    text-align: center;
}
.fans{
    font-size: 26rpx;
    color: rgb(128, 128, 128);
    margin-top: 16rpx;
    text-align: center;
}
.lzrku{
    padding-top: 1rpx;
}
.kvphsl{
    margin-right: 96rpx;
    padding-top: 1rpx;
}
.ynwla{
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 686rpx;
    flex-wrap: wrap;
}
.lcqzid{
    display: flex;
    padding-top: 248rpx;
    padding-bottom: 8rpx;
    width: 31.3%;
	height: 296rpx;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 14rpx;
	background-size: 100% 100%;
	margin-right: 2%;
}
// .lcqzid{
//     display: flex;
//     padding-top: 248rpx;
//     padding-bottom: 8rpx;
//     width: 220rpx;
//     position: relative;
//     z-index: 1;
// }
.wavdbk{
    margin-left: 8rpx;
    width: 40rpx;
    height: 40rpx;
}
.acv441tj{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    margin-left: 4rpx;
}
.wechat_picture_461jph{
    border-radius: 8rpx;
    display: flex;
    padding-top: 248rpx;
    padding-bottom: 8rpx;
    width: 220rpx;
    position: relative;
    z-index: 1;
}
.group_448kxn{
    margin-left: 7rpx;
    width: 40rpx;
    height: 40rpx;
}
.vwc437fy{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    margin-left: 5rpx;
}
.duobv{
    margin-top: 12rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 686rpx;
    justify-content: space-between;
}