

.epmnxy{
    margin-left: auto;
    margin-right: auto;
    width: 750rpx;
    position: relative;
    z-index: 1;
    padding-top: 1rpx;
    height: 601rpx;
    overflow: hidden;

	image{
		width: 100%;
		height: 100%;
	}
}
.pcqxo{
    margin-top: 93rpx;
    margin-left: 224rpx;
}
.rectangle_2735hj{
    background-color: rgb(255, 255, 255);
    margin-top: 15rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20rpx;
    padding-top: 1rpx;
}
.estee_lan_division{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
    margin-top: 24rpx;
    margin-left: 32rpx;
}
.genuine_guarantee{
    font-size: 26rpx;
    color: rgb(165, 165, 165);
    margin-top: 12rpx;
    margin-left: 32rpx;
}
.ya2712zph{
    font-size: 36rpx;
    color: rgb(252, 37, 38);
    margin-top: 18rpx;
    margin-left: 32rpx;
}
.rectangle_2734mo{
    background-color: rgb(255, 255, 255);
    margin-top: 12rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 26rpx;
    padding-bottom: 26rpx;
    align-items: center;
    justify-content: space-between;
}
.scguzt{
    margin-left: 32rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.selected{
    font-size: 28rpx;
    color: rgb(165, 165, 165);
}
.face_cream_ml{
    font-size: 32rpx;
    color: rgb(34, 34, 34);
    margin-left: 32rpx;
}
.spnxg{
    margin-right: 32rpx;
    width: 40rpx;
    height: 40rpx;
}
.product_details{
    font-size: 28rpx;
    color: rgb(128, 128, 128);
    margin-top: 32rpx;
    text-align: center;
}
.wechat_screensho{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    height: 500rpx;
    color: rgb(0, 0, 0);
}
/deep/ .wechat_screensho{
		padding: 28rpx;
		img{
			width: 100%;
		}
		image{
			width: 100%;
		}
	}
.kdtqy{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}
.rectangle_2711eh{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(223, 223, 223) 1rpx 0rpx 6rpx 0rpx;
    display: flex;
    padding-top: 15rpx;
    padding-bottom: 14rpx;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0rpx;
    left: 50%;
    transform: translateX(-50%);
}
.dyjab{
    margin-left: 32rpx;
    padding-top: 1rpx;
}
.rwokqy{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 56rpx;
    height: 56rpx;
}
.customer_servic{
    font-size: 24rpx;
    color: rgb(34, 34, 34);
    margin-top: 2rpx;
    text-align: center;
}
.rectangle_2773qu{
    border-radius: 12rpx 12rpx 0rpx 0rpx;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 68rpx;
    padding-top: 1rpx;
}
.iyfgzn{
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 686rpx;
    justify-content: space-between;
}
.cgzsyv{
    width: 240rpx;
    height: 240rpx;
}
.zkwsc{
    padding-top: 1rpx;
}
.uvhfd{
    margin-left: 366rpx;
    width: 48rpx;
    height: 48rpx;
}
.zlgxp{
    // margin-top: 92rpx;
    padding-top: 1rpx;
}
.dc2772kv{
    font-size: 36rpx;
    color: rgb(252, 37, 38);
}
.selected_cream_m{
    font-size: 26rpx;
    color: rgb(165, 165, 165);
    margin-top: 16rpx;
}
.rectangle_2767ge{
    background-color: rgb(245, 245, 245);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    width: 686rpx;
    height: 2rpx;
}
.types_of{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-top: 40rpx;
    margin-left: 34rpx;
}
.budjtm{
    margin-top: 20rpx;
    margin-left: 36rpx;
    display: flex;
    width: 656rpx;
    // justify-content: space-between;
}
.rectangle_2766hqp{
    border-radius: 12rpx;
    background-color: rgb(239, 239, 239);
    padding-left: 32rpx;
    padding-right: 32rpx;
	margin-right: 30rpx;
}
.eye_cream{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.rectangle_2760ghf{
    border: 1rpx solid rgb(252, 37, 38);
    border-radius: 12rpx;
    background-color: rgb(255, 230, 231);
    padding-left: 32rpx;
    padding-right: 32rpx;
}
.cream{
    font-size: 28rpx;
    color: rgb(252, 37, 38);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.nuega{
    margin-top: 24rpx;
    margin-left: 36rpx;
    width: fit-content;
    display: flex;
}
.rectangle_2761wt{
    border-radius: 12rpx;
    background-color: rgb(239, 239, 239);
    margin-left: 40rpx;
    padding-left: 32rpx;
    padding-right: 32rpx;
}
.swqzjf{
    margin-top: 108rpx;
    margin-left: 36rpx;
    width: fit-content;
    display: flex;
}
.activetext{	color: red!important;}
.active{
    border: 1rpx solid rgb(252, 37, 38);
    border-radius: 12rpx;
    background-color: rgb(255, 230, 231);
    // margin-left: 40rpx;
    padding-left: 32rpx;
    padding-right: 32rpx;
}
.ml{
    font-size: 28rpx;
    color: rgb(165, 165, 165);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.ivgzf{
    margin-top: 60rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 682rpx;
    justify-content: space-between;
}
.quantity{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
}
.rectangle_2747ar{
    border: 1rpx solid rgb(239, 239, 239);
    border-radius: 32rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.guwqt{
    width: 48rpx;
    position: relative;
    z-index: 1;
}
.ev2746qn{
    font-size: 28rpx;
    color: rgb(165, 165, 165);
    padding-top: 2rpx;
    padding-bottom: 6rpx;
    text-align: center;
}
.sg2753ar{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-left: 30rpx;
}
.pbygxh{
    margin-left: 28rpx;
    width: 48rpx;
    position: relative;
    z-index: 1;
}
.cq2744jx{
    font-size: 28rpx;
    color: rgb(102, 102, 102);
    padding-top: 2rpx;
    padding-bottom: 6rpx;
    text-align: center;
}
.rectangle{
    border-radius: 23rpx;
    background: linear-gradient(90deg, rgb(251, 81, 82), rgb(251, 27, 28));
    margin-top: 130rpx;
    margin-left: auto;
    margin-right: auto;
    width: 686rpx;
}
.determine{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 26rpx;
    padding-bottom: 24rpx;
    text-align: center;
}