
.rectangle_865blq{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 21rpx;
    padding-bottom: 18rpx;
    align-items: center;
}
.group_863ys{
    height: 48rpx;
    width: 48rpx;
    margin-left: 32rpx;
}
.rule_instruction{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    width: 464rpx;
    margin-left: 64rpx;
    text-align: center;
}
.rectangle{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    width: 686rpx;
}
.bitcoin_mining_machine{
    font-size: 28rpx;
    color: rgb(128, 128, 128);
    padding-top: 32rpx;
    padding-bottom: 28rpx;
    width: 638rpx;
    margin: auto;
}
.hcdae{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}