
.rectangle_256hbu{
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 17rpx;
    padding-bottom: 18rpx;
    align-items: center;
}
.group_254leu{
    height: 48rpx;
    width: 48rpx;
    margin-left: 32rpx;
}
.search_for_253dm{
    font-size: 36rpx;
    color: rgb(255, 255, 255);
    width: 432rpx;
    margin-left: 80rpx;
    text-align: center;
}
.fxshm{
    margin-top: 32rpx;
    margin-left: 32rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.rectangle_238uow{
    border-radius: 4rpx;
    background-color: rgb(239, 239, 239);
    display: flex;
    padding-top: 12rpx;
    padding-bottom: 12rpx;
    align-items: center;
    width: 606rpx;
}
.eurdq{
    margin-left: 24rpx;
    width: 56rpx;
    height: 56rpx;
}
.search_for_nickname{
    font-size: 30rpx;
    color: rgb(165, 165, 165);
    margin-left: 16rpx;
}
.search_for{
    font-size: 30rpx;
    color: rgb(29, 200, 177);
    margin-left: 20rpx;
}
.bevsot{
    margin-top: 64rpx;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rpx;
    width: 686rpx;
}
.cqafmx{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dbpzjy{
    width: fit-content;
    display: flex;
}
.xgsbo{
    border-radius: 50%;
    width: 80rpx;
    height: 80rpx;
}
.egxjmb{
    margin-left: 16rpx;
    padding-top: 1rpx;
}
.i_am_sleeping{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
}
.id_226df{
    font-size: 24rpx;
    color: rgb(165, 165, 165);
    margin-top: 4rpx;
    text-align: center;
}
.rectangle_222hl{
    border-radius: 4rpx;
    background: linear-gradient(90deg, rgb(75, 211, 173), rgb(29, 200, 177));
    width: 136rpx;
}
.attention_218zr{
    font-size: 28rpx;
    color: rgb(255, 255, 255);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.rectangle_214df{
    background-color: rgb(239, 239, 239);
    margin-top: 28rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
}
.fxrkw{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rpx;
    width: 686rpx;
    margin-top: 28rpx;
}
.acacbbebcbeefefezhpnkf{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 80rpx;
    height: 80rpx;
}
.rectangle_221ebn{
    border-radius: 4rpx;
    background-color: rgb(239, 239, 239);
    width: 136rpx;
}
.have_already_concerne{
    font-size: 28rpx;
    color: rgb(128, 128, 128);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}