
.rectangle_350ilv{
    border-radius: 20rpx 20rpx 0rpx 0rpx;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 64rpx;
    padding-top: 1rpx;
}
.tmfbpy{
    margin-top: 20rpx;
    margin-left: 130rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.share_to{
    font-size: 30rpx;
    color: rgb(34, 34, 34);
    width: 490rpx;
    text-align: center;
}
.rzhbwq{
    height: 48rpx;
    width: 48rpx;
    margin-left: 50rpx;
}
.rectangle{
    background-color: rgb(239, 239, 239);
    margin-top: 22rpx;
    margin-left: auto;
    margin-right: auto;
    height: 2rpx;
    width: 686rpx;
}
.oldqxe{
    margin-top: 52rpx;
    margin-left: auto;
    margin-right: auto;
    width: 558rpx;
    display: flex;
    justify-content: space-between;
}
.xbkst{
    padding-top: 1rpx;
}
.rqvgs{
    margin-left: 16rpx;
    width: 80rpx;
    height: 80rpx;
}
.save_video{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-top: 12rpx;
    text-align: center;
}
.pzuxt{
    text-align: center;
    padding-top: 1rpx;
}
.xzsfl{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80rpx;
    height: 80rpx;
}
.mbhng{
    text-align: right;
    padding-top: 1rpx;
}
.group_340uvq{
    width: 80rpx;
    height: 80rpx;
}