
.rectangle_3275mr{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 31rpx;
    padding-bottom: 22rpx;
    justify-content: space-between;
}
.hsyfj{
    margin-left: 32rpx;
    width: 48rpx;
    height: 48rpx;
}
.shopping_cart{
    font-size: 36rpx;
    color: rgb(34, 34, 34);
}
.management{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-right: 32rpx;
}
.rectangle_3258yd{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 32rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.ystlec{
    margin-top: 32rpx;
    margin-left: 24rpx;
    width: fit-content;
    display: flex;
    align-items: center;
}
.yndgf{
    width: 40rpx;
    height: 40rpx;
}
.group_3234av{
    margin-left: 16rpx;
    width: 160rpx;
    height: 160rpx;
}
.picktj{
    margin-left: 16rpx;
    padding-top: 1rpx;
    width: 390rpx;
}
.estee_lan_division_3255ay{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
}
.rectangle_3253ah{
    border-radius: 4rpx;
    background-color: rgb(239, 239, 239);
    margin-top: 4rpx;
    width: fit-content;
    padding-left: 16rpx;
    padding-right: 16rpx;
}
.face_cream_ml_3251wc{
    font-size: 24rpx;
    color: rgb(165, 165, 165);
    padding-top: 4rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.iz3249muj{
    font-size: 28rpx;
    color: rgb(252, 37, 38);
    margin-top: 4rpx;
}
.rectangle_3245kj{
    border: 1rpx solid rgb(239, 239, 239);
    border-radius: 20rpx;
    margin-top: 12rpx;
    margin-left: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 24rpx;
}
.vigen{
    width: 40rpx;
    position: relative;
    z-index: 1;
}
.egm3241xmf{
    font-size: 26rpx;
    color: rgb(165, 165, 165);
    padding-top: 0rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.ow3247yp{
    font-size: 26rpx;
    color: rgb(34, 34, 34);
    margin-left: 32rpx;
}
.sndit{
    margin-left: 32rpx;
    width: 40rpx;
    position: relative;
    z-index: 1;
}
.enr3238vbp{
    font-size: 26rpx;
    color: rgb(102, 102, 102);
    padding-top: 0rpx;
    padding-bottom: 4rpx;
    text-align: center;
}
.rectangle_3257oz{
    border-radius: 8rpx;
    background-color: rgb(255, 255, 255);
    margin-top: 24rpx;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32rpx;
    padding-top: 1rpx;
    width: 686rpx;
}
.wechat_screensho_3256uz{
    border-radius: 8rpx;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 16rpx;
    width: 160rpx;
    height: 160rpx;
}
.oval_3243xq{
    border-radius: 50%;
    background-color: rgb(239, 239, 239);
    padding-left: 12rpx;
    padding-right: 12rpx;
}
.oval_3242xub{
    border-radius: 50%;
    background-color: rgb(210, 210, 210);
    margin-left: 32rpx;
    padding-left: 12rpx;
    padding-right: 12rpx;
}
.puhfx{
    position: fixed;
    z-index: -1;
    left: 0rpx;
    top: 0rpx;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}
.rectangle_3216ur{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(223, 223, 223) 1rpx 0rpx 6rpx 0rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 22rpx;
    padding-bottom: 16rpx;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0rpx;
    left: 50%;
    transform: translateX(-50%);
}
.jtzak{
    text-align: right;
    display: flex;
    padding-right: 12rpx;
    width: 138rpx;
    margin-left: 32rpx;
}
.group{
    margin-left: 32rpx;
    width: 40rpx;
    height: 40rpx;
}
.select_all{
    font-size: 28rpx;
    color: rgb(34, 34, 34);
    margin-left: 8rpx;
}
.total{
    font-size: 30rpx;
    color: rgb(252, 37, 38);
    width: 280rpx;
    margin-left: 6rpx;
}
.rectangle{
    border-radius: 20rpx;
    background: linear-gradient(90deg, rgb(251, 81, 82), rgb(251, 27, 28));
    width: 240rpx;
    margin-left: 22rpx;
}
.settle{
    font-size: 30rpx;
    color: rgb(255, 255, 255);
    padding-top: 20rpx;
    padding-bottom: 18rpx;
    margin-left: 56rpx;
}