.default-font-family {
  font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.al-center {
  align-items: center;
}
.mb-10 {
  margin-bottom: 10rpx;
}
.mb-20 {
  margin-bottom: 20rpx;
}
.ml-10 {
  margin-left: 10rpx;
}
.ml-15 {
  margin-left: 15rpx;
}
.mr-10 {
  margin-right: 10rpx;
}
.tar {
  text-align: right;
}
.font-12 {
  font-size: 24rpx;
}
.font-14 {
  font-size: 28rpx;
}
.w-100 {
  width: 100rpx;
}
.price-color {
  color: #dd524d;
}