.default-font-family {
  font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.mb-10 {
  margin-bottom: 10rpx;
}
.mb-20 {
  margin-bottom: 20rpx;
}
.font-12 {
  font-size: 24rpx;
}